<!DOCTYPE html>

<html>

<head>

    <title>Email Extractor</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="container">

        <form method="POST" enctype="multipart/form-data" id="upload-form">

            <h1>
                📧 Email Extractor Tool
            </h1>

            <p class="subtitle">
                Upload TXT, CSV, XLSX or PDF files
            </p>



            <!-- Upload Box -->

            <label for="file-input" class="upload-box">

                📁 Upload Your File

            </label>

            <input
                type="file"
                id="file-input"
                name="file"
                hidden
            >

            <p id="file-name">

                No file selected

            </p>



            <!-- Extract Button -->

            <button
                type="submit"
                class="extract-btn"
                id="extract-btn"
            >

                Extract Emails

            </button>



            <!-- Output Section -->

            {% if emails %}

            <div class="output-box">

                <div class="output-header">

                    <h2>Extracted Emails</h2>



                    <div class="button-group">

                        <button
                            type="button"
                            class="copy-btn"
                            id="copy-btn"
                        >

                            Copy

                        </button>



                        <button
                            type="button"
                            class="clear-btn"
                            id="clear-btn"
                        >

                            Clear

                        </button>

                    </div>

                </div>



                <p class="total-count">

                    Total: {{ emails|length }} Emails

                </p>



                <div class="email-list">

                    {% for email in emails %}

                        <p>{{ email }}</p>

                    {% endfor %}

                </div>

            </div>

            {% endif %}

        </form>

    </div>



   
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>